<div class="login-modal" ng-if="visible">
  <div class="login-modal-container">

    <i ng-click="loginCtrl.closeLogin()" class="fa fa-times"></i>

    <form name="loginForm" ng-submit="loginCtrl.login(credentials)" novalidate>
      <label for="username">Username:</label>
      <input type="text" id="username" ng-model="credentials.username" autofocus="true">

      <label for="password">Password:</label>
      <input type="password" id="password" ng-model="credentials.password">

      <button type="submit">Login</button>
    </form>

  </div>
</div>
